@import url("https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Noto+Sans:wght@300&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
}

@theme inline {
  --color-logopink: #c782af;
  --color-logopinkdark: #774e69;
  --color-logopurple: #9d5ab8;
  --color-logopurpledark: #5e366e;
  --font-sans: var(--font-geist-sans);
  --font-mono: "Cascadia Code", ui-monospace, monospace;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
